@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root{
    --darkbrown: #3b160e;
    --blackheader: #262626;
    --lightcreme: #EAE6DA;
}

body {
    box-sizing: border-box;
    margin:0;
    padding:0;
    background-color: #E2D8CE;
    font-family: 'Merriweather', serif;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0em;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    padding-top: 1em;
    padding-bottom: 1em;
    z-index: 10;
    background-color: var(--blackheader);
}

    .header-content {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: 0.3s;
    }

    .header-content:hover{
        opacity: 1;
        filter: brightness(2);
    }

h1 {
    font-size: 40px;
    font-weight: 800;
    color: var(--lightcreme);
    margin:0;
}

h3 {
    font-size: 22px;
    font-weight: 600;
    margin: 0;
    color: var(--lightcreme);
}

.container {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

.parallax {
    margin-top: 82px;
    background-image: url(./MV5BMjU4MjYwYWItNTk3OS00ZjVkLTg0ZjAtNWU4YWM3MDdkMTYwXkEyXkFqcGdeQXVyMzA1MDQ4Mzk@._V1_.jpg);
    filter: brightness(0.9);
    height: 90vh;
    width: 100vw;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    
}


