@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root{
    --darkbrown: #3b160e;
    --lightcreme: #EAE6DA;
}

body {
    box-sizing: border-box;
    margin:0;
    padding:0;
    background-color: #E2D8CE;
    font-family: 'Merriweather', serif;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0em;
    padding-bottom: 2em;
}


header {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: var(--lightcreme);
}

h1 {
    font-size: 50px;
    font-weight: 800;
    color: var(--darkbrown);
    margin:0;
}

h3 {
    font-size: 22px;
    font-weight: 600;
    margin: 0;
    margin-top: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
}